astroid==1.6.1
astropy==2.0.3
Flask==0.12.2
Flask-Cors==3.0.3
gunicorn==20.0.4
path.py==10.5
pathlib2==2.3.0
py==1.5.2
pycodestyle==2.3.1
pycosat==0.6.3
pycparser==2.18
pycrypto==2.6.1
pycurl==7.43.0.1
pylint==1.8.2
pytest==3.3.2
python-dateutil==2.6.1
pytz==2017.3
PyYAML==3.12
urllib3==1.22
virtualenv==20.0.13
waitress==1.4.3
webencodings==0.5.1
Werkzeug==0.14.1